VITE_FIREBASE_API_KEY=AIzaSyByFURNHwqKQTfAU9XHvAfsNj3h6kY6_Cw
VITE_FIREBASE_AUTH_DOMAIN=grupoalerta-9ddf1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=grupoalerta-9ddf1
VITE_FIREBASE_STORAGE_BUCKET=grupoalerta-9ddf1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=401717414390
VITE_FIREBASE_APP_ID=1:401717414390:web:7502e0c37abc2880559fd7
VITE_FIREBASE_MEASUREMENT_ID=G-4NGL8N7HTZ
